* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: comic sans ms;
}

body {
  line-height: 1.6;
}

header {
  padding: 10px;
  background-color: #ffffff;
}

.search-container input {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  width: 600px;
  max-width: 100%;
  display: flex;
  margin-right: 200px;
}

.logo img {
  width: auto;
  height: 50px;
}

.search-icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.icons {
  display: flex;
  gap: 10px;
  font-size: 24px;
  justify-content: flex-end;
  flex-shrink: 0;
}

.icons a {
  color: black;
  text-decoration: none;
  transition: 0.9s;
}

.icons a:hover {
  color: #0f24e17b;
  font-size: 28px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
}

nav ul li {
  padding: 5px 0;
  font-size: 18px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  transition: 0.12s;
}

nav ul li a:hover {
  color: gray;
}

.hero {
  padding: 20px;
  text-align: center;
  background-image: url(bilder/freakybakgrund.jpg);
  height: 450px;
  color: white;
  border: solid;
}

.main-content {
  padding: 20px;
}

.products {
  margin-top: 20px;
}

.product-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 50px 50px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
}

.product:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 50px;
}

.product-info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.product-name {
  font-size: 16px;
  font-weight: bold;
}

.product-price {
  font-size: 16px;
}

.product-brand {
  font-size: 12px;
  color: #666;
  margin-top: 5px;
  margin-left: 20px;
}

.favorite {
  position: absolute;
  bottom: 100px;
  right: 10px;
}

.favorite i {
  font-size: 24px;
  color: #000;
  transition: 0.3s;
}

.favorite i:hover {
  font-size: 34px;
}

/* Footer över 640px */

.footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 100%;
}

.footer-column {
  margin-right: 40px;
}

.footer-column h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #000;
  transition: color 0.2s;
}

.footer-column ul li a:hover {
  color: gray;
}

.footer-bottom {
  text-align: left;
  padding-left: 20px;
  margin-top: 20px;
}

.footer-bottom640 p {
  font-size: 14px;
  color: #666;
  width: 100%;
  text-align: center;
}

/* footer under 640px */
footer {
  background-color: #ffffff;
  padding: 30px 0;
}

.features-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.features-list i {
  font-size: 20px;
}

/* Styling för accordion */
.accordion-button {
  background-color: #87cfeb98;
  color: black;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
}

.accordion-button:not(.collapsed) {
  background-color: #87ceeb;
  color: black;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-body {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  display: flex;
}

.accordion-body ul {
  padding-left: 0;
  list-style: none;
}

.accordion-body ul li {
  padding: 5px 0;
}

.accordion-body ul li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.accordion-body ul li a:hover {
  text-decoration: underline;
}

.footer-big {
  background-color: #b8b8b87d;
}

.feauters-640 {
  background-color: white;
  padding: 15px;
}

.footer-container {
  padding: 10px;
}

.features-list1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  font-size: 20px;
  text-decoration: none;
  list-style-type: none;
}

.features-list {
  padding-left: 0;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.features-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.features-list i {
  font-size: 20px;
}

/* Mindre än 640px */
@media screen and (max-width: 640px) {
  .accordion-button {
    background-color: #87ceeb;
    color: black;
  }

  .accordion-body {
    padding: 10px;
  }
  .logo img {
    width: 100%;
    height: auto;
  }

  header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .search-container input {
    z-index: 100;
  }

  .search-container {
    display: flex;
    z-index: 100;
  }

  .icons {
    position: relative;
    top: -45px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }

  .features-list {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }

  .footer-container {
    display: none;
  }
  .features-list1 {
    display: none;
  }

  .spots-container {
    display: none;
  }
}

/* Större än 640px */
@media screen and (min-width: 640px) {
  header {
    display: flex;
    flex-direction: column;
  }

  .header-container {
    display: flex;
    width: auto;
    padding: 10px;
  }

  .header-right-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .logo {
    display: flex;
    flex-shrink: 0;
  }

  .logo img {
    height: 120px;
    width: 220px;
  }

  .search-container {
    width: 270px;
  }
  .icons {
    display: flex;
  }

  .icons a {
    font-size: 24px;
    color: black;
    text-decoration: none;
  }

  nav {
    margin-top: 20px;
    display: flex;
    width: 100%;
  }

  nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 5px;
    list-style: none;
    flex-direction: row;
  }

  nav ul li {
    padding: 0;
  }
  .hero {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    color: white;
    text-align: center;
  }

  .main-content {
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    text-align: center;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .product {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
  }

  .product img {
    width: 100%;
    height: auto;
  }

  .product-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .product-name {
    font-size: 16px;
    font-weight: bold;
  }

  .product-price {
    font-size: 16px;
  }

  .favorite {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .favorite i {
    font-size: 24px;
    color: black;
  }

  .container {
    display: none;
  }
  footer {
    display: none;
  }

  .footer-bottom640 {
    background-color: #b8b8b87d;
    padding: 10px;
  }
}

/* större än 1024px */
@media screen and (min-width: 1024px) {
  .features-list1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .main-hero-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 5px;
    margin-top: 50px;
    margin-right: 5px;
    margin-left: 5px;
    border: solid grey 2px;
  }

  .main-content {
    width: 40%;
    height: auto;
    background-color: #fff;
    padding: 20px;
    order: 1;
  }

  .hero {
    width: 60%;
    padding: 50px;
    background-color: #f4f4f4;
    color: white;
    text-align: center;
    order: 2;
  }

  .spots-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 0;
  }

  .spot {
    position: relative;
    overflow: hidden;
    display: block;
  }

  .spot img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
  }

  .spot:hover img {
    transform: scale(1.05);
  }

  .spot-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .spots-container {
    display: none;
  }
}
